* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  text-align: center;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(49, 135, 49);
  padding: 30px;
  flex-direction: column;
  height: 100vh;
  border-radius: 20px;
}

.volleyball-court {
  height: 400px;
  width: 200px;
  border: 5px solid white;
  background-color: rgb(253, 104, 49);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.opponent-court,
.user-court {
  height: 50%;
  width: 100%;
  /* Declare position relative so players can overlap over the court */
  position: relative;
}

.volleyball-net {
  border: 2px solid white;
  width: 120%;
}

.user-court > .attack-line {
  border-bottom: 5px solid white;
  height: 35%;
}

/* Fix! this is not the attack line */
.opponent-court > .attack-line {
  border-bottom: 5px solid white;
  height: 65%;
}

.service-line {
  height: 15px;
  width: 300px;
  border-left: 5px dotted white;
  border-right: 5px dotted white;
}

.user-players {
  height: 100%;
  width: 100%;
  position: absolute;
  /* declare top property to zero so the element starts its position on top */
  top: 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 15%;
  align-items: center;
  justify-content: center;
}

.player {
  height: 15%;
  width: 15%;
  background-color: rgb(26, 11, 193);
  border-radius: 50%;
}

.opponent-players {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 15%;
  align-items: center;
  justify-content: center;
}

.opponent-players > .player {
  background-color: rgb(162, 4, 141);
}

#player1 {
  background: red;
  border: 2px solid #000000;
  position: relative;
  transition: all 0.5s ease;
}

#player2 {
  border: 2px solid;
  position: relative;
  transition: all 0.5s ease;
}

#player3 {
  border: 2px solid;
  position: relative;
  transition: all 0.5s ease;
}

#player4 {
  border: 2px solid;
  position: relative;
  transition: all 0.5s ease;
}

#player5 {
  border: 2px solid;
  position: relative;
  transition: all 0.5s ease;
}

#player6 {
  border: 2px solid;
  position: relative;
  transition: all 0.5s ease;
}

#moveBtn {
  height: 50px;
  width: 100px;
  margin: 5px;
}
