* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background: rgb(86, 158, 246);
}

h1 {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 8px;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(49, 135, 49);
  padding: 30px;
  height: 90vh;
  border-radius: 20px;
  min-width: 50%;
  gap: 15px;
}

.volleyball-court {
  height: 400px;
  width: 200px;
  border: 5px solid white;
  background-color: rgb(253, 104, 49);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.opponent-court,
.user-court {
  height: 50%;
  width: 100%;
  /* Declare position relative so players can overlap over the court */
  position: relative;
}

.volleyball-net {
  border: 2px solid white;
  width: 120%;
}

.user-court > .attack-line {
  border-bottom: 5px solid white;
  height: 35%;
}

/* Fix! this is not the attack line */
.opponent-court > .attack-line {
  border-bottom: 5px solid white;
  height: 65%;
}

.service-line {
  height: 15px;
  width: 300px;
  border-left: 5px dotted white;
  border-right: 5px dotted white;
}

.user-players {
  height: 100%;
  width: 100%;
  position: absolute;
  /* declare top property to zero so the element starts its position on top */
  top: 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 15%;
  align-items: center;
  justify-content: center;
}

.user-players .player:hover {
  transform: scale(1.5);
  transition: all 0.3s;
  cursor: pointer;
}

.player {
  height: 15%;
  width: 15%;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.opponent-players {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 15%;
  align-items: center;
  justify-content: center;
}

.opponent-players > .player {
  background-color: purple;
}

#player1 {
  position: relative;
  transition: all 0.5s ease;
}

#player2 {
  position: relative;
  transition: all 0.5s ease;
}

#player3 {
  position: relative;
  transition: all 0.5s ease;
}

#player4 {
  position: relative;
  transition: all 0.5s ease;
}

#player5 {
  position: relative;
  transition: all 0.5s ease;
}

#player6 {
  position: relative;
  transition: all 0.5s ease;
}

#moveBtn {
  height: 50px;
  width: 100px;
  margin: 5px;
  border: none;
  border-radius: 15px;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}

#moveBtn:hover {
  transform: scale(1.1);
  transition: all 0.3s;
  background-color: rgb(188, 192, 195);
  border: none;
}
